form {
    margin-bottom: 0.5rem;
}

.card img {
    height: 240px;
    object-fit: cover;
}

.pagination {
    margin-top: 3rem;
    justify-content: center;
}

.paginator-link {
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (max-width: 800px) {
    form {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .card-body {
        margin-bottom: 2rem;
    }
}