{% extends 'main/base.html' %}

{% load static %}

{% block title %}Plants All{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'plants/css/plants_all.css' %}">
{% endblock %}

{% block content %}
<!-- start card-list section -->
<section class="cards-list-container">
    <div class="cards-list-header d-flex align-items-center justify-content-between">
        <div class="d-flex justify-content-between align-items-center w-100">
            <h1>All Plants</h1>
            <div>
                <form class="d-flex gap-2" action="{% url 'plants:plants_all_view' %}" method="get">
                    <select name="category" id="category">
                        <option value="">Select a category</option>
                        <option value="FLOWERS" {% if request.GET.category == 'FLOWERS' %}selected{% endif %}>Flowers</option>
                        <option value="TREES" {% if request.GET.category == 'TREES' %}selected{% endif %}>Trees</option>
                        <option value="FRUITS" {% if request.GET.category == 'FRUITS' %}selected{% endif %}>Fruits</option>
                    </select>
                    <select name="is_edible" id="is_edible">
                        <option value="">Select edible or not</option>
                        <option value="True" {% if request.GET.is_edible == 'True' %}selected{% endif %}>Is edible</option>
                        <option value="False" {% if request.GET.is_edible == 'False' %}selected{% endif %}>Not edible</option>
                    </select>
                    <input class="btn btn-dark" type="submit" >
                </form>
            </div>
        </div>
    </div>
    {% if not page_obj %}
    <h4>No result match your criteria</h4>
    {% endif %}
    <div class="cards-list-body">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for plant in page_obj %}
            <div class="col">
                <div class="card h-100 border-0">
                    <img src="{{ plant.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{% url 'plants:plants_detail_view' plant.id %}"><h5 class="card-title">{{ plant.name }}</h5></a>
                        <p class="card-text category">{{ plant.category }}</p>
                        <p class="card-text">
                            {% if plant.is_edible %}
                                Is edible: yes
                            {% else %}
                            Is edible: no
                            {% endif %}
                        </p>
                        <p class="card-text">{{ plant.used_for }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Pagination controls -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="paginator-link" href="?page=1{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.is_edible %}&is_edible={{ request.GET.is_edible }}{% endif %}">First</a>
                <a class="paginator-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.is_edible %}&is_edible={{ request.GET.is_edible }}{% endif %}">Previous</a>
            {% endif %}

            <span class="paginator-link current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a class="paginator-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.is_edible %}&is_edible={{ request.GET.is_edible }}{% endif %}">Next</a>
                <a class="paginator-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.is_edible %}&is_edible={{ request.GET.is_edible }}{% endif %}">Last</a>
            {% endif %}
        </span>
    </div>
 </section>
<!-- end card-list section -->
{% endblock %}