{% extends 'main/base.html' %}

{% load static %}

{% block title %}Update plant{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'plants/css/update.css' %}">
{% endblock %}

{% block content %}
<section class="contact-page-container container d-flex row">
     <div class="form-container col-md-8">
       <h1>Update plant {{ plant.name }}</h1>
       <form action="{% url 'plants:plants_update_view' plant.id %}" method="post" enctype="multipart/form-data">
           {% csrf_token %}
           <div class="form-item d-flex justify-content-between gap-2 flex-wrap">
               <div class="col">
                   <label class="form-label" for="name">Plant name</label>
                   <input class="form-control" type="text" name="name" placeholder="olive tree" value="{{ plant.name }}" required />
               </div>
           </div>
           <div class="form-item col-12 d-flex flex-column">
                <label for="options">Choose an option from the category:</label>
                <select id="options" class="form-select" name="category" required>
                    <option value="" disabled selected>Open to select from the menu</option>
                    <option value="FLOWERS" {% if plant.category == "FLOWERS" %}selected{% endif %}>Flowers</option>
                    <option value="TREES" {% if plant.category == "TREES" %}selected{% endif %}>Trees</option>
                    <option value="FRUITS" {% if plant.category == "FRUITS" %}selected{% endif %}>Fruits</option>
                </select>
           </div>
           <div class="form-item col-12 d-flex flex-column">
               <label class="form-label" for="about">About</label>
               <textarea class="form-control" name="about" id="about" placeholder="Enter text" required>{{ plant.about }}</textarea>
           </div>
           <div class="form-item col-12">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="is_edible" id="flexRadioDefault1" value="True" {% if plant.is_edible %}checked{% endif %}>
                <label class="form-check-label" for="flexRadioDefault1">Is edible</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="is_edible" id="flexRadioDefault2" value="False" {% if not plant.is_edible %}checked{% endif %}>
                <label class="form-check-label" for="flexRadioDefault2">Not edible</label>
            </div>
           </div>
           <div class="form-item col-12 d-flex flex-column">
               <label class="form-label" for="used_for">Used for</label>
               <textarea class="form-control" name="used_for" id="used_for" placeholder="Enter text" required>{{ plant.used_for }}</textarea>
           </div>
           <div class="form-item col-12">
                <img src="{{ plant.image.url }}" alt="">
                <input class="form-control" type="file" name="image" id="image" accept="image/*">
           </div>
           <div class="form-item">
               <button class="col-12 btn btn-dark" type="submit">Submit</button>
           </div>
       </form>
     </div>
</section>
{% endblock %}