/*** main ***/
/* hero */
.hero-container {
    background-image: url("../images/home-hero-background.jpg");
    background-position: center;
    background-size: cover;
    min-height: 50vh;
}

.hero-heading {
    font-size: calc(1.375rem + 4.5vw);
    font-weight: 800;
}

.hero-subheading {
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 600;
    text-align: center;
}

/* cards-list */
.cards-list-container {
    margin-top: 5rem;
}

.card img {
    height: 240px;
    object-fit: cover;
}

.more-link a {
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.more-link i.bi.bi-arrow-right {
    -webkit-text-stroke: 1px;
    color: #000;
}

.cards-list-body {
    margin-top: 1rem;
}

.card-body {
    padding-left: 0;
    padding-right: 0;
}

.category {
    font-weight: bold;
}