/*** header ***/
.navbar-nav {
    margin-left: auto;
}


/*** main ***/
main {
    margin-top: 5rem;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}


/*** footer ***/
footer {
    padding-top: 5rem;
}

footer a {
    text-decoration: none;
    color: inherit;
}

.right-column {
    column-gap: 6rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.nav-item .nav-link {
    padding-right: 0 !important;
}


/*** media queries ***/
@media (max-width: 500px) {
    .footer-columns {
        flex-direction: column;
    }

    .right-column {
        order: 1;
        align-self: center;
    }

    .left-column {
        order: 2;
        align-self: center;
        padding-top: 2rem;
    }

    .left-column > * {
        text-align: center;
    }
}